#container {color: cadetblue;display: flex;flex-direction: column;align-items: flex-end;}
#gridSearch {height: 5%;}
#search-grid {height: 89%;}
#grid {height: 100%; width: 98%;}
#gridChild {height: 100%;}
.gridPaging {height: 5%}
.page-item {cursor: pointer;}
/* .tui-grid-header, .tui-grid-header-area, .tui-grid-table, .tui-grid-border-line-top, .tui-grid-border-line-bottom {border: 0 !important;} */
/* .tui-grid-cell, .tui-grid-header, .tui-grid-header-area, .tui-grid-table, .tui-grid-body-area {border: 0 !important;} */
#searchForm {height: 100%; width: 100%;}